# Backend API Server URL
NEXT_PUBLIC_API_URL=http://localhost:8000
NEXT_PUBLIC_ENDPOINT=http://localhost:8000

# Optional notification service credentials
NEXT_PUBLIC_SERVICE_NAME=BD Railway E-Ticket Monitor
